In [22]:
import pandas as pd

In [23]:
df_peliculas= pd.read_csv('..\Proyecto individual Henry\Data\duracion.csv')

In [24]:
df_pais= df_peliculas['production_countries'].copy()

In [25]:
df_pais

0                                 United States of America
1                                 United States of America
2                                 United States of America
3                                 United States of America
4                                 United States of America
                               ...
45341    Canada Germany United Kingdom United States of...
45342                                          Philippines
45343                             United States of America
45344                                               Russia
45345                                       United Kingdom
Name: production_countries, Length: 45346, dtype: object

In [27]:
df_peliculas_paises = df_pais.value_counts().reset_index()
df_paises.columns = ['país', 'cantidad']

In [28]:
df_peliculas_paises

                                       index  production_countries
0                   United States of America                 17836
1                             United Kingdom                  2235
2                                     France                  1652
3                                      Japan                  1354
4                                      Italy                  1029
...                                      ...                   ...
2383             Finland Germany Netherlands                     1
2384             France Denmark Spain Sweden                     1
2385  France United States of America Canada                     1
2386         France Monaco Spain Switzerland                     1
2387    Egypt Italy United States of America                     1

[2388 rows x 2 columns]

In [30]:
df_peliculas_pais.to_csv('peliculas_pais.csv', index=False)